{% extends "base.html" %}

{# Index page template #}

{% block content %}
    <div id="container-index">
        <section class="first">
            <h2 class="white">{{ config.APP_NAME }}</h2>
        </section>
        <section class="text-center container-fluid">
            <div class="title">
                <h2>WHO ARE WE?</h2>
                <h6>Horizon is the new powerhouse of exemplary talents driven by passion.</h6>
            </div>
            <div class="row">
                <div class="promo">
                    <div class="circle purple">
                        <img src="{{ url_for('static', filename='img/passion.png') }}" alt="heart">
                    </div>
                    <h3>passion</h3>
                    <p>An undying passion is our fuel to compete and have fun!</p>
                </div>
                <div class="promo">
                    <div class="circle cyan">
                        <img src="{{ url_for('static', filename='img/clanwars.png') }}" alt="people">
                    </div>
                    <h3>clan wars</h3>
                    <p>Main Team and Academy play team leagues! Show us your motivation to be a part of them!</p>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="promo">
                    <div class="circle blue">
                        <img src="{{ url_for('static', filename='img/tournaments.png') }}" alt="ribbon">
                    </div>
                    <h3>tournaments</h3>
                    <p>We regularly organise tournaments and team leagues inside the team!</p>
                </div>
                <div class="promo">
                    <div class="circle red">
                        <img src="{{ url_for('static', filename='img/fairplay.png') }}" alt="handshake">
                    </div>
                    <h3>fair play</h3>
                    <p>Exemplary gamers is our goal. Every Horizon member shows impeccable behaviour.</p>
                </div>
            </div>
        </section>
        <section class="quote">
            <h5>"Talent wins games, but teamwork and intelligence wins championships."</h5>
            <p class="author">Michael Jordan</p>
        </section>
        <section class="roster">
            <div class="title">
                <h2>team roster</h2>
                <h6 class="text-muted"><em>Coming soon</em></h6>
            </div>
            <div class="row">
                <div class="roster-group">
                    <a href="#" id="roster-main">
                        <div class="circle purple"><img src="{{ url_for('static', filename='img/roster.png') }}" alt="people"></div>
                        <h3>main team</h3>
                    </a>
                </div>
                <div class="roster-group">
                    <a href="#" id="roster-academy">
                        <div class="circle blue"><img src="{{ url_for('static', filename='img/roster.png') }}" alt="people"></div>
                        <h3>academy</h3>
                    </a>
                </div>
                <div class="roster-group">
                    <a href="#" id="roster-staff">
                        <div class="circle red"><img src="{{ url_for('static', filename='img/roster.png') }}" alt="people"></div>
                        <h3>staff</h3>
                    </a>
                </div>
            </div>
            <div id="rost"></div>
        </section>
        <section class="achievements">
            <div class="title">
                <h2>Our achievements</h2>
            </div>
            <h3 class="achievement">
                <img src="{{ url_for('static', filename='img/medal.png') }}" width="45px" height="45px">
                Alpha VI Euro Amateur Champion
            </h3>
            <h3 class="achievement">
                <img src="{{ url_for('static', filename='img/medal.png') }}" width="45px" height="45px">
                Alpha Team League #2 Runner-up
            </h3>
        </section>
        {#<section class="clan-wars">
            <div class="clan-war-col">
                <h2>Upcoming matches</h2>
                <table class="table table-striped">
                    <tbody></tbody>
                </table>
            </div>
            <div class="clan-war-col">
                <h2>Last results</h2>
                <table class="table table-striped">
                    <tbody></tbody>
                </table>
            </div>
        </section> #}
        <section class="streams">
            <div class="title">
                <h2 class="white">Streams</h2>
                <h6 class="text-muted"><em>Coming soon</em></h6>
            </div>
        </section>
        <section>
            <div class="title">
                <h2>Join us!</h2>
            </div>
            <div class="recruitment-rules">
                <h6>Whichever your level is, there is a place for you.</h6>
                <p>Learn and enjoy in an environment enhanced by improvement, humility and fun which provides you regular coaching, memes and the real feeling of being in one unit, a team. No one is left behind.</p>
                <p>Powered by <a href="https://discordapp.com/" target="_blank">Discord</a>, our main communication tool, click the button and say hi!</p>
                <h6 class="join-discord">
                    <a href="https://discord.gg/AAP4RhT" target="_blank">
                        <img src="{{ url_for('static', filename='img/discord.png') }}" alt="Discord ghost">
                    </a>
                </h6>
            </div>
        </section>
        <section class="footer">
            <h6>
                Icons from <a href="https://www.iconfinder.com/iconbaandar" target="_blank">iconbaandar</a>,
                Header image credit <a href="https://unsplash.com/@jeffkingla" target="_blank">Jeff King</a>,
                made by twnt and pundurs for Team Horizon
                <br>Source on <a href="https://github.com/TeamHrz/website" target="_blank">Github</a>
            </h6>
        </section>
    </div>
{% endblock content %}